<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <div
          id="map"
          style="
            width: 100%;
            height: 800px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
          "
        ></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import $Scriptjs from "scriptjs";
import { eventBus } from "@/event-bus.js";
export default {
  name: "Map",
  data() {
    return {
      center: { lat: 45.508, lng: -73.587 },
      map: null,
      geoConf: [],
      myCityData: "",
      infowindow: "",
    };
  },
  mounted: function () {
    this.geolocate();

    // use your own key...
    $Scriptjs(
      "https://maps.googleapis.com/maps/api/js?key=AIzaSyD8eJjgiVj1frov6XugjoJVLlmFUSU2Urc&libraries=geometry,places",
      () => {
        this.initMap();
      }
    );
    this.getGeoJson();
  },
  methods: {
    geolocate: function () {
      navigator.geolocation.getCurrentPosition((position) => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
      });
    },

    initMap() {
      this.geocoder = new google.maps.Geocoder();
      this.map = new google.maps.Map(document.getElementById("map"), {
        center: this.center,
        zoom: 6,
        gestureHandling: "greedy",
      });

      this.map.data.setStyle({
        strokeColor: "#64B5F6",
        strokeOpacity: 0.8,
        strokeWeight: 3,
        fillColor: "#64B5F6",
        fillOpacity: 0.35,
      });
      this.map.data.addListener("mouseover", function (event) {
        this.map.data.revertStyle();
        this.map.data.overrideStyle(event.feature, { strokeWeight: 8 });
        console.log(event);
        const contentString =
          '<div id="content">' +
          '<div id="siteNotice">' +
          "</div>" +
          '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
          '<div id="bodyContent">' +
          "<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large " +
          "sandstone rock formation in the southern part of the " +
          "Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) " +
          "south west of the nearest large town, Alice Springs; 450&#160;km " +
          "(280&#160;mi) by road. Kata Tjuta and Uluru are the two major " +
          "features of the Uluru - Kata Tjuta National Park. Uluru is " +
          "sacred to the Pitjantjatjara and Yankunytjatjara, the " +
          "Aboriginal people of the area. It has many springs, waterholes, " +
          "rock caves and ancient paintings. Uluru is listed as a World " +
          "Heritage Site.</p>" +
          '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
          "https://en.wikipedia.org/w/index.php?title=Uluru</a> " +
          "(last visited June 22, 2009).</p>" +
          "</div>" +
          "</div>";
        let map = this.map;
        const infowindow = new google.maps.InfoWindow({
          content: contentString,
        });
        infowindow.open();
      });
      this.map.data.addListener("mouseout", function (event) {
        this.map.data.revertStyle();
      });
    },
    getGeoJson() {
      let url =
        "https://gist.githubusercontent.com/john-guerra/43c7656821069d00dcbc/raw/3aadedf47badbdac823b00dbe259f6bc6d9e1899/colombia.geo.json";
      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          this.geoConf = data;
          this.map.data.addGeoJson(this.geoConf);
        });
    },
  },
};
</script>
